---
title: Investigadores
---

<% sedes = ["Alicante", "Castellón"] %>
<% sedes.each do |sede| %>
<h3 id="<%= sede %>"><%= sede %></h3>
<div class="visible-md visible-lg">
  <%= partial 'panel-investigador', locals: { sede: sede, division: 6, tamano_columna: 2 }  %>
  <p> MD </p>
</div>
<div class="visible-sm visible-xs">
  <p> SM </p>
  <%= partial 'panel-investigador', locals: { sede: sede, division: 2, tamano_columna: 6 }  %>
</div>
<% end %>
