$rojo-muy-claro: #B34758;
$rojo-claro: #B34758;
$rojo-color: #8D2233;
$rojo-oscuro: #660817;
$rojo-muy-oscuro: #40000A;

$azul-muy-claro: #579788;
$azul-claro: #317A6A;
$azul-color: #176050;
$azul-oscuro: #054537;
$azul-muy-oscuro: #002C22;

$verde-muy-claro: #C6DE80;
$verde-claro: #98B448;
$verde-color: #728E23;
$verde-oscuro: #4E6608;
$verde-muy-oscuro: #304000;






