@import "font-awesome";
@import "bootswatch/theme/paper/variables";
@import "bootstrap";
@import "bootswatch/theme/paper/bootswatch";
@import "menu";
$brand-footer: #37474F;
$brand-footer-text: #fff;
$brand-link: darken($brand-primary, 20%);

body {
  margin: 100px 0;
}
.brand-menu {
  background-color: $brand-menu;
}
.migas {
 background-color: $breadcrumb-bg;
 padding-top: 10px;
}
// Anula la propiedad por defecto
.breadcrumb {
 margin-bottom: 0px; 
}
.contenido {
  margin-top: 40px;
}
.footer {
  background-color: $brand-footer;
  color: $brand-footer-text;
  padding: 20px 0;
  margin-top: 30px;
  a {
    padding: 0 20px;
  }
  .copyright {
    padding: 10px;
  }
}
.enlace {
  color: #424242;
}
.panel-noticias {
  .panel-heading {
    background-color: darken(#0277bd, 10%);
  }
}
