@import "font-awesome";
@import "bootswatch/theme/paper/variables";
@import "bootstrap";
@import "bootswatch/theme/paper/bootswatch";
@import "menu";
$brand-footer: #37474F;
$brand-footer-text: #fff;
$brand-link: darken($brand-primary, 20%);

body {
  margin: 100px 0;
}
.brand-menu {
  background-color: $brand-menu;
}
ol {
 display: inline;
}
.migas {
 background-color: $breadcrumb-bg;
 padding: 20px 0 10px 0;
}
.sedes {
 float: right;
}
.sede {
 padding: 0 10px;
}
.separador-sedes {
 padding-bottom: 70px; 
}
.nombre-sede {
 padding: 20px 0;
 }
// Anula la propiedad por defecto
.breadcrumb {
 margin-bottom: 0px; 
}
.contenido {
  //margin-top: 40px;
}
.footer {
  background-color: $brand-footer;
  color: $brand-footer-text;
  padding: 20px 0;
  margin-top: 30px;
  a {
    padding: 0 20px;
  }
  .copyright {
    padding: 10px;
  }
}
.enlace {
  color: #424242;
}
.noticia {
  border-top: dotted 1px #ccc;
}
.contenedor-imagen {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  min-height: 200px;
  .img-responsive {
    margin: 0 auto;
  }
}
