<div class="migas">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">INICIO</a></li>
      <li class="active"><a href="#">NOSOTROS</a></li>
    </ol>
    <%= migas %>
  </div>
</div>

