<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="nav nav-pills">
          <li><a href="http://iei.ua.es">ALICANTE</a></li>
          <li><a href="http://iei.uji.es">CASTELLÓN</a></li>
          <li><a href="http://iei.uv.es">VALENCIA</a></li>
        </ul>
      </div>
      <div class="col-md-offset-2 col-md-4">
        <div class="copyright">
          (c) IEI. Todos los derechos reservados
        </div>
      </div>
    </div>
  </div>
</div>

