<nav class="navbar navbar-fixed-top navbar-full navbar-light bg-faded">
  <a class="navbar-brand" href="/">
    <img src="/assets/images/logos/iei-color.png" alt="Logo image">
  </a>
  <div class="container">
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#menu-derecho">
      &#9776;
    </button>
    <ul id="menu-derecho" id="menu-derecho" class="collapse nav navbar-nav navbar-toggleable-xs pull-xs-right">
      <li class="nav-item active">
        <a class="nav-link" href="/nosotros.html">NOSOTROS<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/noticias.html">NOTICIAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/investigacion.html">INVESTIGACIÓN</a>
      </li>
    </ul>
  </div>
</nav>
