<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="/assets/images/logos/iei.png" alt="Logo image"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="noticias.html">Noticias</a></li>
        <li><a href="investigacion.html">Investigación</a></li>
      </ul>
    </div>
  </nav>
</div>
