<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="/assets/images/logos/iei.png" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Noticias</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Investigación</a></li>
        <li class="nav-link logo">
            <img src="/assets/images/logos/iei.png" alt="Logo image">
          </a>
        </li>
        <li class="nav-link"><a href="javascript:void(0)">Nosotros</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Donde estamos</a></li>
      </ul>
    </nav>
  </div>
</header>
